<div class="jumbotron">
	<div class="container">
		<h1>Online invoicing system</h1>
		<p>Always free</p>
		<p>Generate beautiful invoices ...</p>
		<p>Generate in pdf format</p>
		<p>Download in pdf</p>
		
		<p>
			<%= link_to("Get started" , new_detail_path, class: "btn btn-primary" ) %> 
		</p>
	</div>
</div>






